[workflow_api]
workflow_api_user =
workflow_api_access_token =

workflow_backend = kubernetes
workflow_backend_namespace =
workflow_backend_image_pull_secret =

[minio]
endpoint =
access_key =
secret_key =
secure =
